services:

  redpanda:
    image: redpandadata/redpanda:v23.3.5
    command:
      - redpanda
      - start
      - --overprovisioned
      - --smp=1
      - --memory=512M
      - --reserve-memory=0M
      - --node-id=0
      - --check=false
      - --kafka-addr=PLAINTEXT://0.0.0.0:9092
      - --advertise-kafka-addr=PLAINTEXT://redpanda:9092
    ports:
      - "9092:9092"
    networks:
      - internal
    healthcheck:
      test: ["CMD", "bash", "-c", "echo > /dev/tcp/redpanda/9092"]
      interval: 5s
      timeout: 3s
      retries: 20

  schema-registry:
    image: confluentinc/cp-schema-registry:7.6.0
    environment:
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: "redpanda:9092"
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081
    ports:
      - "8081:8081"
    networks:
      - internal
    depends_on:
      redpanda:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://schema-registry:8081/subjects"]
      interval: 5s
      timeout: 3s
      retries: 20

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    networks:
      - internal
    volumes:
      - ./docker/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root"]
      interval: 5s
      timeout: 3s
      retries: 20

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    networks:
      - internal
    healthcheck:
      test: ["CMD", "mongo", "--eval", "db.runCommand({ ping: 1 })"]
      interval: 5s
      timeout: 3s
      retries: 20

  redis:
    image: redis:7
    command: ["redis-server", "--appendonly", "yes"]
    ports:
      - "6379:6379"
    networks:
      - internal
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 20


  api-gateway:
    build:
      context: ./api-gateway
    environment:
      SPRING_PROFILES_ACTIVE: dev
    depends_on:
      auth-service:
        condition: service_healthy
    networks:
      - internal
    healthcheck:
      test: ["CMD", "curl", "-f", "http://api-gateway:8080/actuator/health"]
      interval: 7s
      timeout: 4s
      retries: 20

  auth-service:
    build:
      context: ./auth-service
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/authdb
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      KAFKA_BOOTSTRAP_SERVERS: redpanda:9092
      SCHEMA_REGISTRY_URL: http://schema-registry:8081
    depends_on:
      postgres:
        condition: service_healthy
      redpanda:
        condition: service_healthy
      schema-registry:
        condition: service_healthy
    networks:
      - internal
    healthcheck:
      test: ["CMD", "curl", "-f", "http://auth-service:8081/actuator/health"]
      interval: 7s
      timeout: 4s
      retries: 20

  user-service:
    build:
      context: ./user-service
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/userdb
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      KAFKA_BOOTSTRAP_SERVERS: redpanda:9092
      SCHEMA_REGISTRY_URL: http://schema-registry:8081
    depends_on:
      postgres:
        condition: service_healthy
      redpanda:
        condition: service_healthy
      schema-registry:
        condition: service_healthy
    networks:
      - internal
    healthcheck:
      test: ["CMD", "curl", "-f", "http://user-service:8082/actuator/health"]
      interval: 7s
      timeout: 4s
      retries: 20

  product-service:
    build:
      context: ./product-service
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/productsdb
      KAFKA_BOOTSTRAP_SERVERS: redpanda:9092
      SCHEMA_REGISTRY_URL: http://schema-registry:8081
    depends_on:
      mongo:
        condition: service_healthy
      redpanda:
        condition: service_healthy
      schema-registry:
        condition: service_healthy
    networks:
      - internal
    healthcheck:
      test: ["CMD", "curl", "-f", "http://product-service:8083/actuator/health"]
      interval: 7s
      timeout: 4s
      retries: 20

  inventory-service:
    build:
      context: ./inventory-service
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/inventorydb
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      KAFKA_BOOTSTRAP_SERVERS: redpanda:9092
      SCHEMA_REGISTRY_URL: http://schema-registry:8081
    depends_on:
      postgres:
        condition: service_healthy
      product-service:
        condition: service_healthy
      redpanda:
        condition: service_healthy
      schema-registry:
        condition: service_healthy
    networks:
      - internal
    healthcheck:
      test: ["CMD", "curl", "-f", "http://inventory-service:8084/actuator/health"]
      interval: 7s
      timeout: 4s
      retries: 20

  order-service:
    build:
      context: ./order-service
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/ordersdb
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      KAFKA_BOOTSTRAP_SERVERS: redpanda:9092
      SCHEMA_REGISTRY_URL: http://schema-registry:8081
    depends_on:
      postgres:
        condition: service_healthy
      inventory-service:
        condition: service_healthy
      redpanda:
        condition: service_healthy
      schema-registry:
        condition: service_healthy
    networks:
      - internal
    healthcheck:
      test: ["CMD", "curl", "-f", "http://order-service:8085/actuator/health"]
      interval: 7s
      timeout: 4s
      retries: 20

  notification-service:
    build:
      context: ./notification-service
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/notificationsdb
      REDIS_HOST: redis
      KAFKA_BOOTSTRAP_SERVERS: redpanda:9092
      SCHEMA_REGISTRY_URL: http://schema-registry:8081
    depends_on:
      mongo:
        condition: service_healthy
      redis:
        condition: service_healthy
      redpanda:
        condition: service_healthy
      schema-registry:
        condition: service_healthy
    networks:
      - internal
    healthcheck:
      test: ["CMD", "curl", "-f", "http://notification-service:8086/actuator/health"]
      interval: 7s
      timeout: 4s
      retries: 20

networks:
  internal:
    driver: bridge