server:
  port: 8080
  ssl:
    enabled: true
    key-store: classpath:tls/keystore.p12
    key-store-password: changeit
    key-store-type: PKCS12

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      default-filters:
        - PreserveHostHeader
        - RemoveHopByHopHeaders
      routes:
        - id: auth-service
          uri: http://auth-service:8080
          predicates:
            - Path=/auth/**

        - id: product-service-rest
          uri: http://product-service:8080
          predicates:
            - Path=/products/**

        - id: order-service-rest
          uri: http://order-service:8080
          predicates:
            - Path=/orders/**

redis:
  host: redis
  port: 6379

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  metrics:
    tags:
      application: api-gateway

logging:
  level:
    root: INFO
  pattern:
    console: "%m%n"
  logback:
    rollingpolicy:
      file-name-pattern: "logs/api-gateway-%d{yyyy-MM-dd}.log"
    encoder:
      pattern: json

opentelemetry:
  traces:
    exporter: otlp
  metrics:
    exporter: otlp
  logs:
    exporter: otlp
  service:
    name: api-gateway

grpc:
  client:
    productService:
      address: "static://product-service:9090"
      negotiationType: TLS
    orderService:
      address: "static://order-service:9091"
      negotiationType: TLS