server:
  port: 8083

spring:
  application:
    name: product-service


  data:
    mongodb:
      uri: mongodb://${MONGO_HOST:mongo}:${MONGO_PORT:27017}/${MONGO_DB:productsdb}


  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:redpanda:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
      properties:
        schema.registry.url: ${SCHEMA_REGISTRY_URL:http://schema-registry:8081}


  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://${AUTH_SERVICE_HOST:auth-service}:${AUTH_SERVICE_PORT:8081}


grpc:
  server:
    port: ${PRODUCT_SERVICE_GRPC_PORT:9090}


management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    export:
      prometheus:
        enabled: true
  tracing:
    enabled: true


logging:
  level:
    com.ecommerce.platform.product: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{traceId:-},%X{spanId:-}] ${LOG_LEVEL_PATTERN:-%5p} [%t] %-40.40logger{39} : %m%n"